/*
 * SemgrepWebAppLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package dev.semgrep.apis;

import dev.semgrep.ApiHelper;
import dev.semgrep.Server;
import dev.semgrep.exceptions.ApiException;
import dev.semgrep.http.request.HttpMethod;
import dev.semgrep.http.response.ApiResponse;
import dev.semgrep.models.ProtosOpenapiV1ListDeploymentsResponse;
import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class DeploymentsServiceApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public DeploymentsServiceApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Request the deployments your auth can access. Currently available auth scope does not extend
     * over more than one deployment. This endpoint returns the single deployment your token can
     * access. The endpoint additionally returns links to related resources available on this API.
     * @return    Returns the ProtosOpenapiV1ListDeploymentsResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ProtosOpenapiV1ListDeploymentsResponse> listDeployments() throws ApiException, IOException {
        return prepareListDeploymentsRequest().execute();
    }

    /**
     * Request the deployments your auth can access. Currently available auth scope does not extend
     * over more than one deployment. This endpoint returns the single deployment your token can
     * access. The endpoint additionally returns links to related resources available on this API.
     * @return    Returns the ProtosOpenapiV1ListDeploymentsResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ProtosOpenapiV1ListDeploymentsResponse>> listDeploymentsAsync() {
        try {
            return prepareListDeploymentsRequest().executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for listDeployments.
     */
    private ApiCall<ApiResponse<ProtosOpenapiV1ListDeploymentsResponse>, ApiException> prepareListDeploymentsRequest() {
        return new ApiCall.Builder<ApiResponse<ProtosOpenapiV1ListDeploymentsResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ProtosOpenapiV1ListDeploymentsResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}