/*
 * SemgrepWebAppLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package dev.semgrep.apis;

import dev.semgrep.ApiHelper;
import dev.semgrep.Server;
import dev.semgrep.exceptions.ApiException;
import dev.semgrep.http.request.HttpMethod;
import dev.semgrep.http.response.ApiResponse;
import dev.semgrep.models.ProtosOpenapiV1GetBootstrapSmsVpcResponse;
import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class MiscServiceApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public MiscServiceApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * VPC support for Managed Scans is in private beta. Returns the Managed Scans VPC Bootstrap
     * CloudFormation template in JSON format for setting up cross-account infrastructure. This
     * template creates IAM roles and policies needed for Semgrep Managed Scanning (SMS) VPC
     * infrastructure automation, including the semgrep-sms-vpc-automation role and EC2 Image
     * Builder distribution roles for gVisor container runtime. See the original AWS cloudformation
     * template format at
     * https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-formats.html.
     * @return    Returns the ProtosOpenapiV1GetBootstrapSmsVpcResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ProtosOpenapiV1GetBootstrapSmsVpcResponse> miscServiceGetBootstrapSmsVpc() throws ApiException, IOException {
        return prepareMiscServiceGetBootstrapSmsVpcRequest().execute();
    }

    /**
     * VPC support for Managed Scans is in private beta. Returns the Managed Scans VPC Bootstrap
     * CloudFormation template in JSON format for setting up cross-account infrastructure. This
     * template creates IAM roles and policies needed for Semgrep Managed Scanning (SMS) VPC
     * infrastructure automation, including the semgrep-sms-vpc-automation role and EC2 Image
     * Builder distribution roles for gVisor container runtime. See the original AWS cloudformation
     * template format at
     * https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-formats.html.
     * @return    Returns the ProtosOpenapiV1GetBootstrapSmsVpcResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ProtosOpenapiV1GetBootstrapSmsVpcResponse>> miscServiceGetBootstrapSmsVpcAsync() {
        try {
            return prepareMiscServiceGetBootstrapSmsVpcRequest().executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for miscServiceGetBootstrapSmsVpc.
     */
    private ApiCall<ApiResponse<ProtosOpenapiV1GetBootstrapSmsVpcResponse>, ApiException> prepareMiscServiceGetBootstrapSmsVpcRequest() {
        return new ApiCall.Builder<ApiResponse<ProtosOpenapiV1GetBootstrapSmsVpcResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/bootstrap-sms-vpc")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ProtosOpenapiV1GetBootstrapSmsVpcResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Use to ping the server and assert liveness.
     * @return    Returns the Object wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Object> miscServicePing() throws ApiException, IOException {
        return prepareMiscServicePingRequest().execute();
    }

    /**
     * Use to ping the server and assert liveness.
     * @return    Returns the Object wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Object>> miscServicePingAsync() {
        try {
            return prepareMiscServicePingRequest().executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for miscServicePing.
     */
    private ApiCall<ApiResponse<Object>, ApiException> prepareMiscServicePingRequest() {
        return new ApiCall.Builder<ApiResponse<Object>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/ping")
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> response)
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}