/*
 * SemgrepWebAppLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package dev.semgrep.apis;

import dev.semgrep.ApiHelper;
import dev.semgrep.Server;
import dev.semgrep.exceptions.ApiException;
import dev.semgrep.http.request.HttpMethod;
import dev.semgrep.http.response.ApiResponse;
import dev.semgrep.models.ProtosOpenapiV1ListPoliciesResponse;
import dev.semgrep.models.ProtosOpenapiV1ListPolicyRulesResponse;
import dev.semgrep.models.ProtosOpenapiV1UpdatePolicyResponse;
import dev.semgrep.models.UpdatePolicyRequest;
import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class PoliciesServiceApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public PoliciesServiceApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * @param  deploymentId  Required parameter:
     * @return    Returns the ProtosOpenapiV1ListPoliciesResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ProtosOpenapiV1ListPoliciesResponse> listPolicies(
            final String deploymentId) throws ApiException, IOException {
        return prepareListPoliciesRequest(deploymentId).execute();
    }

    /**
     * @param  deploymentId  Required parameter:
     * @return    Returns the ProtosOpenapiV1ListPoliciesResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ProtosOpenapiV1ListPoliciesResponse>> listPoliciesAsync(
            final String deploymentId) {
        try {
            return prepareListPoliciesRequest(deploymentId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for listPolicies.
     */
    private ApiCall<ApiResponse<ProtosOpenapiV1ListPoliciesResponse>, ApiException> prepareListPoliciesRequest(
            final String deploymentId) {
        return new ApiCall.Builder<ApiResponse<ProtosOpenapiV1ListPoliciesResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentId}/policies")
                        .templateParam(param -> param.key("deploymentId").value(deploymentId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ProtosOpenapiV1ListPoliciesResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  deploymentId  Required parameter:
     * @param  policyId  Required parameter:
     * @param  cursor  Optional parameter:
     * @param  limit  Optional parameter:
     * @return    Returns the ProtosOpenapiV1ListPolicyRulesResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ProtosOpenapiV1ListPolicyRulesResponse> listPolicyRules(
            final String deploymentId,
            final String policyId,
            final String cursor,
            final Long limit) throws ApiException, IOException {
        return prepareListPolicyRulesRequest(deploymentId, policyId, cursor, limit).execute();
    }

    /**
     * @param  deploymentId  Required parameter:
     * @param  policyId  Required parameter:
     * @param  cursor  Optional parameter:
     * @param  limit  Optional parameter:
     * @return    Returns the ProtosOpenapiV1ListPolicyRulesResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ProtosOpenapiV1ListPolicyRulesResponse>> listPolicyRulesAsync(
            final String deploymentId,
            final String policyId,
            final String cursor,
            final Long limit) {
        try {
            return prepareListPolicyRulesRequest(deploymentId, policyId, cursor, limit).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for listPolicyRules.
     */
    private ApiCall<ApiResponse<ProtosOpenapiV1ListPolicyRulesResponse>, ApiException> prepareListPolicyRulesRequest(
            final String deploymentId,
            final String policyId,
            final String cursor,
            final Long limit) {
        return new ApiCall.Builder<ApiResponse<ProtosOpenapiV1ListPolicyRulesResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentId}/policies/{policyId}")
                        .queryParam(param -> param.key("cursor")
                                .value(cursor).isRequired(false))
                        .queryParam(param -> param.key("limit")
                                .value(limit).isRequired(false))
                        .templateParam(param -> param.key("deploymentId").value(deploymentId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("policyId").value(policyId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ProtosOpenapiV1ListPolicyRulesResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  deploymentId  Required parameter:
     * @param  policyId  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ProtosOpenapiV1UpdatePolicyResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ProtosOpenapiV1UpdatePolicyResponse> updatePolicy(
            final String deploymentId,
            final String policyId,
            final UpdatePolicyRequest body) throws ApiException, IOException {
        return prepareUpdatePolicyRequest(deploymentId, policyId, body).execute();
    }

    /**
     * @param  deploymentId  Required parameter:
     * @param  policyId  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ProtosOpenapiV1UpdatePolicyResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ProtosOpenapiV1UpdatePolicyResponse>> updatePolicyAsync(
            final String deploymentId,
            final String policyId,
            final UpdatePolicyRequest body) {
        try {
            return prepareUpdatePolicyRequest(deploymentId, policyId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for updatePolicy.
     */
    private ApiCall<ApiResponse<ProtosOpenapiV1UpdatePolicyResponse>, ApiException> prepareUpdatePolicyRequest(
            final String deploymentId,
            final String policyId,
            final UpdatePolicyRequest body) {
        return new ApiCall.Builder<ApiResponse<ProtosOpenapiV1UpdatePolicyResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentId}/policies/{policyId}")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("deploymentId").value(deploymentId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("policyId").value(policyId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ProtosOpenapiV1UpdatePolicyResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}