/*
 * SemgrepWebAppLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package dev.semgrep.apis;

import dev.semgrep.ApiHelper;
import dev.semgrep.Server;
import dev.semgrep.exceptions.ApiException;
import dev.semgrep.http.request.HttpMethod;
import dev.semgrep.http.response.ApiResponse;
import dev.semgrep.models.AddProjectTagsRequest;
import dev.semgrep.models.AddProjectTagsResponse;
import dev.semgrep.models.DeleteProjectResponse;
import dev.semgrep.models.DeleteProjectTagsResponse;
import dev.semgrep.models.GetProjectResponse;
import dev.semgrep.models.ListProjectsResponse;
import dev.semgrep.models.ToggleProjectManagedScanRequest;
import dev.semgrep.models.ToggleProjectManagedScanResponse;
import dev.semgrep.models.UpdateProjectRequest;
import dev.semgrep.models.UpdateProjectResponse;
import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class ProjectsServiceApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public ProjectsServiceApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Request the list of projects that have been scanned or onboarded to Managed Scans. Does not
     * return archived repositories. Returns 100 projects per page by default.
     * @param  deploymentSlug  Required parameter:
     * @param  page  Optional parameter:
     * @param  pageSize  Optional parameter: Example: 100
     * @return    Returns the ListProjectsResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ListProjectsResponse> listProjects(
            final String deploymentSlug,
            final Long page,
            final Long pageSize) throws ApiException, IOException {
        return prepareListProjectsRequest(deploymentSlug, page, pageSize).execute();
    }

    /**
     * Request the list of projects that have been scanned or onboarded to Managed Scans. Does not
     * return archived repositories. Returns 100 projects per page by default.
     * @param  deploymentSlug  Required parameter:
     * @param  page  Optional parameter:
     * @param  pageSize  Optional parameter: Example: 100
     * @return    Returns the ListProjectsResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ListProjectsResponse>> listProjectsAsync(
            final String deploymentSlug,
            final Long page,
            final Long pageSize) {
        try {
            return prepareListProjectsRequest(deploymentSlug, page, pageSize).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for listProjects.
     */
    private ApiCall<ApiResponse<ListProjectsResponse>, ApiException> prepareListProjectsRequest(
            final String deploymentSlug,
            final Long page,
            final Long pageSize) {
        return new ApiCall.Builder<ApiResponse<ListProjectsResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentSlug}/projects")
                        .queryParam(param -> param.key("page")
                                .value(page).isRequired(false))
                        .queryParam(param -> param.key("page_size")
                                .value((pageSize != null) ? pageSize : 100L).isRequired(false))
                        .templateParam(param -> param.key("deploymentSlug").value(deploymentSlug)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ListProjectsResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Delete a project for a deployment you have access to. This will also delete all of the
     * associated findings.
     * @param  deploymentSlug  Required parameter:
     * @param  projectName  Required parameter:
     * @return    Returns the DeleteProjectResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<DeleteProjectResponse> deleteProject(
            final String deploymentSlug,
            final String projectName) throws ApiException, IOException {
        return prepareDeleteProjectRequest(deploymentSlug, projectName).execute();
    }

    /**
     * Delete a project for a deployment you have access to. This will also delete all of the
     * associated findings.
     * @param  deploymentSlug  Required parameter:
     * @param  projectName  Required parameter:
     * @return    Returns the DeleteProjectResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<DeleteProjectResponse>> deleteProjectAsync(
            final String deploymentSlug,
            final String projectName) {
        try {
            return prepareDeleteProjectRequest(deploymentSlug, projectName).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for deleteProject.
     */
    private ApiCall<ApiResponse<DeleteProjectResponse>, ApiException> prepareDeleteProjectRequest(
            final String deploymentSlug,
            final String projectName) {
        return new ApiCall.Builder<ApiResponse<DeleteProjectResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentSlug}/projects/{projectName}")
                        .templateParam(param -> param.key("deploymentSlug").value(deploymentSlug)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("projectName").value(projectName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, DeleteProjectResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Retrieve details for a single project associated with a deployment that you have access to.
     * @param  deploymentSlug  Required parameter:
     * @param  projectName  Required parameter:
     * @return    Returns the GetProjectResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<GetProjectResponse> getProject(
            final String deploymentSlug,
            final String projectName) throws ApiException, IOException {
        return prepareGetProjectRequest(deploymentSlug, projectName).execute();
    }

    /**
     * Retrieve details for a single project associated with a deployment that you have access to.
     * @param  deploymentSlug  Required parameter:
     * @param  projectName  Required parameter:
     * @return    Returns the GetProjectResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<GetProjectResponse>> getProjectAsync(
            final String deploymentSlug,
            final String projectName) {
        try {
            return prepareGetProjectRequest(deploymentSlug, projectName).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getProject.
     */
    private ApiCall<ApiResponse<GetProjectResponse>, ApiException> prepareGetProjectRequest(
            final String deploymentSlug,
            final String projectName) {
        return new ApiCall.Builder<ApiResponse<GetProjectResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentSlug}/projects/{projectName}")
                        .templateParam(param -> param.key("deploymentSlug").value(deploymentSlug)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("projectName").value(projectName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, GetProjectResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Update attributes for the project using the value passed in to the request body. Note: The
     * only attribute that is supported as of January 2023 is `tags`.
     * @param  deploymentSlug  Required parameter:
     * @param  projectName  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the UpdateProjectResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<UpdateProjectResponse> updateProject(
            final String deploymentSlug,
            final String projectName,
            final UpdateProjectRequest body) throws ApiException, IOException {
        return prepareUpdateProjectRequest(deploymentSlug, projectName, body).execute();
    }

    /**
     * Update attributes for the project using the value passed in to the request body. Note: The
     * only attribute that is supported as of January 2023 is `tags`.
     * @param  deploymentSlug  Required parameter:
     * @param  projectName  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the UpdateProjectResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<UpdateProjectResponse>> updateProjectAsync(
            final String deploymentSlug,
            final String projectName,
            final UpdateProjectRequest body) {
        try {
            return prepareUpdateProjectRequest(deploymentSlug, projectName, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for updateProject.
     */
    private ApiCall<ApiResponse<UpdateProjectResponse>, ApiException> prepareUpdateProjectRequest(
            final String deploymentSlug,
            final String projectName,
            final UpdateProjectRequest body) {
        return new ApiCall.Builder<ApiResponse<UpdateProjectResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentSlug}/projects/{projectName}")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("deploymentSlug").value(deploymentSlug)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("projectName").value(projectName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.PATCH))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, UpdateProjectResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Enable or disable [Semgrep Managed Scans](/docs/deployment/managed-scanning/overview) for a
     * project.
     * @param  deploymentSlug  Required parameter:
     * @param  projectName  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ToggleProjectManagedScanResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ToggleProjectManagedScanResponse> toggleProjectManagedScan(
            final String deploymentSlug,
            final String projectName,
            final ToggleProjectManagedScanRequest body) throws ApiException, IOException {
        return prepareToggleProjectManagedScanRequest(deploymentSlug, projectName, body).execute();
    }

    /**
     * Enable or disable [Semgrep Managed Scans](/docs/deployment/managed-scanning/overview) for a
     * project.
     * @param  deploymentSlug  Required parameter:
     * @param  projectName  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ToggleProjectManagedScanResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ToggleProjectManagedScanResponse>> toggleProjectManagedScanAsync(
            final String deploymentSlug,
            final String projectName,
            final ToggleProjectManagedScanRequest body) {
        try {
            return prepareToggleProjectManagedScanRequest(deploymentSlug, projectName, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for toggleProjectManagedScan.
     */
    private ApiCall<ApiResponse<ToggleProjectManagedScanResponse>, ApiException> prepareToggleProjectManagedScanRequest(
            final String deploymentSlug,
            final String projectName,
            final ToggleProjectManagedScanRequest body) {
        return new ApiCall.Builder<ApiResponse<ToggleProjectManagedScanResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentSlug}/projects/{projectName}/managed-scan")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("deploymentSlug").value(deploymentSlug)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("projectName").value(projectName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.PATCH))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ToggleProjectManagedScanResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Remove tags from a project for a deployment you have access to. This request will not delete
     * project tags from the deployment and will only remove them from the requested project. Any
     * other projects associated with the requested tag will remain unaffected.
     * @param  deploymentSlug  Required parameter:
     * @param  projectName  Required parameter:
     * @param  tags  Optional parameter:
     * @return    Returns the DeleteProjectTagsResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<DeleteProjectTagsResponse> deleteProjectTags(
            final String deploymentSlug,
            final String projectName,
            final List<String> tags) throws ApiException, IOException {
        return prepareDeleteProjectTagsRequest(deploymentSlug, projectName, tags).execute();
    }

    /**
     * Remove tags from a project for a deployment you have access to. This request will not delete
     * project tags from the deployment and will only remove them from the requested project. Any
     * other projects associated with the requested tag will remain unaffected.
     * @param  deploymentSlug  Required parameter:
     * @param  projectName  Required parameter:
     * @param  tags  Optional parameter:
     * @return    Returns the DeleteProjectTagsResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<DeleteProjectTagsResponse>> deleteProjectTagsAsync(
            final String deploymentSlug,
            final String projectName,
            final List<String> tags) {
        try {
            return prepareDeleteProjectTagsRequest(deploymentSlug, projectName, tags).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for deleteProjectTags.
     */
    private ApiCall<ApiResponse<DeleteProjectTagsResponse>, ApiException> prepareDeleteProjectTagsRequest(
            final String deploymentSlug,
            final String projectName,
            final List<String> tags) {
        return new ApiCall.Builder<ApiResponse<DeleteProjectTagsResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentSlug}/projects/{projectName}/tags")
                        .queryParam(param -> param.key("tags")
                                .value(tags).isRequired(false))
                        .templateParam(param -> param.key("deploymentSlug").value(deploymentSlug)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("projectName").value(projectName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, DeleteProjectTagsResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Add tags to a project for a deployment you have access to. Any project tags that do not
     * already exist for the deployment will be created automatically and associated with the
     * project.
     * @param  deploymentSlug  Required parameter:
     * @param  projectName  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the AddProjectTagsResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<AddProjectTagsResponse> addProjectTags(
            final String deploymentSlug,
            final String projectName,
            final AddProjectTagsRequest body) throws ApiException, IOException {
        return prepareAddProjectTagsRequest(deploymentSlug, projectName, body).execute();
    }

    /**
     * Add tags to a project for a deployment you have access to. Any project tags that do not
     * already exist for the deployment will be created automatically and associated with the
     * project.
     * @param  deploymentSlug  Required parameter:
     * @param  projectName  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the AddProjectTagsResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<AddProjectTagsResponse>> addProjectTagsAsync(
            final String deploymentSlug,
            final String projectName,
            final AddProjectTagsRequest body) {
        try {
            return prepareAddProjectTagsRequest(deploymentSlug, projectName, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for addProjectTags.
     */
    private ApiCall<ApiResponse<AddProjectTagsResponse>, ApiException> prepareAddProjectTagsRequest(
            final String deploymentSlug,
            final String projectName,
            final AddProjectTagsRequest body) {
        return new ApiCall.Builder<ApiResponse<AddProjectTagsResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentSlug}/projects/{projectName}/tags")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("deploymentSlug").value(deploymentSlug)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("projectName").value(projectName)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, AddProjectTagsResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}