/*
 * SemgrepWebAppLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package dev.semgrep.apis;

import dev.semgrep.ApiHelper;
import dev.semgrep.Server;
import dev.semgrep.exceptions.ApiException;
import dev.semgrep.http.request.HttpMethod;
import dev.semgrep.http.response.ApiResponse;
import dev.semgrep.models.ProtosOpenapiV1GetScanResponse;
import dev.semgrep.models.ProtosOpenapiV1SearchScansResponse;
import dev.semgrep.models.SearchScansRequest;
import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class ScansServiceApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public ScansServiceApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Request the details of a scan including the associated deployment, repository, and commit
     * information.
     * @param  deploymentId  Required parameter:
     * @param  scanId  Required parameter:
     * @return    Returns the ProtosOpenapiV1GetScanResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ProtosOpenapiV1GetScanResponse> scansServiceGetScan(
            final String deploymentId,
            final String scanId) throws ApiException, IOException {
        return prepareScansServiceGetScanRequest(deploymentId, scanId).execute();
    }

    /**
     * Request the details of a scan including the associated deployment, repository, and commit
     * information.
     * @param  deploymentId  Required parameter:
     * @param  scanId  Required parameter:
     * @return    Returns the ProtosOpenapiV1GetScanResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ProtosOpenapiV1GetScanResponse>> scansServiceGetScanAsync(
            final String deploymentId,
            final String scanId) {
        try {
            return prepareScansServiceGetScanRequest(deploymentId, scanId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for scansServiceGetScan.
     */
    private ApiCall<ApiResponse<ProtosOpenapiV1GetScanResponse>, ApiException> prepareScansServiceGetScanRequest(
            final String deploymentId,
            final String scanId) {
        return new ApiCall.Builder<ApiResponse<ProtosOpenapiV1GetScanResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentId}/scan/{scanId}")
                        .templateParam(param -> param.key("deploymentId").value(deploymentId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("scanId").value(scanId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ProtosOpenapiV1GetScanResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * List the scans associated with a particular repository over the past 30 days.
     * @param  deploymentId  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ProtosOpenapiV1SearchScansResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ProtosOpenapiV1SearchScansResponse> scansServiceSearchScans(
            final String deploymentId,
            final SearchScansRequest body) throws ApiException, IOException {
        return prepareScansServiceSearchScansRequest(deploymentId, body).execute();
    }

    /**
     * List the scans associated with a particular repository over the past 30 days.
     * @param  deploymentId  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ProtosOpenapiV1SearchScansResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ProtosOpenapiV1SearchScansResponse>> scansServiceSearchScansAsync(
            final String deploymentId,
            final SearchScansRequest body) {
        try {
            return prepareScansServiceSearchScansRequest(deploymentId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for scansServiceSearchScans.
     */
    private ApiCall<ApiResponse<ProtosOpenapiV1SearchScansResponse>, ApiException> prepareScansServiceSearchScansRequest(
            final String deploymentId,
            final SearchScansRequest body) {
        return new ApiCall.Builder<ApiResponse<ProtosOpenapiV1SearchScansResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentId}/scans/search")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("deploymentId").value(deploymentId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ProtosOpenapiV1SearchScansResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}