/*
 * SemgrepWebAppLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package dev.semgrep.apis;

import dev.semgrep.ApiHelper;
import dev.semgrep.DateTimeHelper;
import dev.semgrep.Server;
import dev.semgrep.exceptions.ApiException;
import dev.semgrep.http.request.HttpMethod;
import dev.semgrep.http.response.ApiResponse;
import dev.semgrep.models.ProtosOpenapiV1ListSecretsPathResponse;
import dev.semgrep.models.Severity5;
import dev.semgrep.models.Status8;
import dev.semgrep.models.ValidationState3;
import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.time.LocalDateTime;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class SecretsServiceApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public SecretsServiceApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * @param  deploymentId  Required parameter:
     * @param  cursor  Optional parameter:
     * @param  limit  Optional parameter:
     * @param  since  Optional parameter:
     * @param  validationState  Optional parameter:
     * @param  status  Optional parameter: Example: FINDING_STATUS_UNSPECIFIED
     * @param  severity  Optional parameter:
     * @param  repo  Optional parameter:
     * @return    Returns the ProtosOpenapiV1ListSecretsPathResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ProtosOpenapiV1ListSecretsPathResponse> secretsServiceListSecretsPath(
            final String deploymentId,
            final String cursor,
            final Long limit,
            final LocalDateTime since,
            final List<ValidationState3> validationState,
            final Status8 status,
            final List<Severity5> severity,
            final List<String> repo) throws ApiException, IOException {
        return prepareSecretsServiceListSecretsPathRequest(deploymentId, cursor, limit, since,
                validationState, status, severity, repo).execute();
    }

    /**
     * @param  deploymentId  Required parameter:
     * @param  cursor  Optional parameter:
     * @param  limit  Optional parameter:
     * @param  since  Optional parameter:
     * @param  validationState  Optional parameter:
     * @param  status  Optional parameter: Example: FINDING_STATUS_UNSPECIFIED
     * @param  severity  Optional parameter:
     * @param  repo  Optional parameter:
     * @return    Returns the ProtosOpenapiV1ListSecretsPathResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ProtosOpenapiV1ListSecretsPathResponse>> secretsServiceListSecretsPathAsync(
            final String deploymentId,
            final String cursor,
            final Long limit,
            final LocalDateTime since,
            final List<ValidationState3> validationState,
            final Status8 status,
            final List<Severity5> severity,
            final List<String> repo) {
        try {
            return prepareSecretsServiceListSecretsPathRequest(deploymentId, cursor, limit, since,
            validationState, status, severity, repo).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for secretsServiceListSecretsPath.
     */
    private ApiCall<ApiResponse<ProtosOpenapiV1ListSecretsPathResponse>, ApiException> prepareSecretsServiceListSecretsPathRequest(
            final String deploymentId,
            final String cursor,
            final Long limit,
            final LocalDateTime since,
            final List<ValidationState3> validationState,
            final Status8 status,
            final List<Severity5> severity,
            final List<String> repo) {
        return new ApiCall.Builder<ApiResponse<ProtosOpenapiV1ListSecretsPathResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentId}/secrets")
                        .queryParam(param -> param.key("cursor")
                                .value(cursor).isRequired(false))
                        .queryParam(param -> param.key("limit")
                                .value(limit).isRequired(false))
                        .queryParam(param -> param.key("since")
                                .value(DateTimeHelper.toRfc8601DateTime(since)).isRequired(false))
                        .queryParam(param -> param.key("validationState")
                                .value(ValidationState3.toValue(validationState)).isRequired(false))
                        .queryParam(param -> param.key("status")
                                .value((status != null) ? status.value() : "FINDING_STATUS_UNSPECIFIED").isRequired(false))
                        .queryParam(param -> param.key("severity")
                                .value(Severity5.toValue(severity)).isRequired(false))
                        .queryParam(param -> param.key("repo")
                                .value(repo).isRequired(false))
                        .templateParam(param -> param.key("deploymentId").value(deploymentId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ProtosOpenapiV1ListSecretsPathResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}