/*
 * SemgrepWebAppLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package dev.semgrep.apis;

import dev.semgrep.ApiHelper;
import dev.semgrep.Server;
import dev.semgrep.exceptions.ApiException;
import dev.semgrep.http.request.HttpMethod;
import dev.semgrep.http.response.ApiResponse;
import dev.semgrep.models.CreateSbomExportRequest;
import dev.semgrep.models.CreateSbomExportResponse;
import dev.semgrep.models.GetSbomExportResponse;
import dev.semgrep.models.ListDependenciesRequest;
import dev.semgrep.models.ListDependenciesResponse;
import dev.semgrep.models.ListLockfilesForDependenciesRequest;
import dev.semgrep.models.ListLockfilesForDependenciesResponse;
import dev.semgrep.models.ListRepositoriesForDependenciesRequest;
import dev.semgrep.models.ListRepositoriesForDependenciesResponse;
import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class SupplyChainServiceApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public SupplyChainServiceApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * @param  deploymentId  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ListDependenciesResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ListDependenciesResponse> supplyChainServiceListDependencies(
            final String deploymentId,
            final ListDependenciesRequest body) throws ApiException, IOException {
        return prepareSupplyChainServiceListDependenciesRequest(deploymentId, body).execute();
    }

    /**
     * @param  deploymentId  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ListDependenciesResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ListDependenciesResponse>> supplyChainServiceListDependenciesAsync(
            final String deploymentId,
            final ListDependenciesRequest body) {
        try {
            return prepareSupplyChainServiceListDependenciesRequest(deploymentId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for supplyChainServiceListDependencies.
     */
    private ApiCall<ApiResponse<ListDependenciesResponse>, ApiException> prepareSupplyChainServiceListDependenciesRequest(
            final String deploymentId,
            final ListDependenciesRequest body) {
        return new ApiCall.Builder<ApiResponse<ListDependenciesResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentId}/dependencies")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("deploymentId").value(deploymentId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ListDependenciesResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  deploymentId  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ListRepositoriesForDependenciesResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ListRepositoriesForDependenciesResponse> supplyChainServiceListRepositoriesForDependencies(
            final String deploymentId,
            final ListRepositoriesForDependenciesRequest body) throws ApiException, IOException {
        return prepareSupplyChainServiceListRepositoriesForDependenciesRequest(deploymentId,
                body).execute();
    }

    /**
     * @param  deploymentId  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ListRepositoriesForDependenciesResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ListRepositoriesForDependenciesResponse>> supplyChainServiceListRepositoriesForDependenciesAsync(
            final String deploymentId,
            final ListRepositoriesForDependenciesRequest body) {
        try {
            return prepareSupplyChainServiceListRepositoriesForDependenciesRequest(deploymentId,
            body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for supplyChainServiceListRepositoriesForDependencies.
     */
    private ApiCall<ApiResponse<ListRepositoriesForDependenciesResponse>, ApiException> prepareSupplyChainServiceListRepositoriesForDependenciesRequest(
            final String deploymentId,
            final ListRepositoriesForDependenciesRequest body) {
        return new ApiCall.Builder<ApiResponse<ListRepositoriesForDependenciesResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentId}/dependencies/repositories")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("deploymentId").value(deploymentId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ListRepositoriesForDependenciesResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  deploymentId  Required parameter:
     * @param  repositoryId  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ListLockfilesForDependenciesResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ListLockfilesForDependenciesResponse> supplyChainServiceListLockfilesForDependencies(
            final String deploymentId,
            final String repositoryId,
            final ListLockfilesForDependenciesRequest body) throws ApiException, IOException {
        return prepareSupplyChainServiceListLockfilesForDependenciesRequest(deploymentId,
                repositoryId, body).execute();
    }

    /**
     * @param  deploymentId  Required parameter:
     * @param  repositoryId  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ListLockfilesForDependenciesResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ListLockfilesForDependenciesResponse>> supplyChainServiceListLockfilesForDependenciesAsync(
            final String deploymentId,
            final String repositoryId,
            final ListLockfilesForDependenciesRequest body) {
        try {
            return prepareSupplyChainServiceListLockfilesForDependenciesRequest(deploymentId, repositoryId,
            body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for supplyChainServiceListLockfilesForDependencies.
     */
    private ApiCall<ApiResponse<ListLockfilesForDependenciesResponse>, ApiException> prepareSupplyChainServiceListLockfilesForDependenciesRequest(
            final String deploymentId,
            final String repositoryId,
            final ListLockfilesForDependenciesRequest body) {
        return new ApiCall.Builder<ApiResponse<ListLockfilesForDependenciesResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentId}/dependencies/repositories/{repositoryId}/lockfiles")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("deploymentId").value(deploymentId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("repositoryId").value(repositoryId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ListLockfilesForDependenciesResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  deploymentId  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the CreateSbomExportResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<CreateSbomExportResponse> supplyChainServiceCreateSbomExport(
            final String deploymentId,
            final CreateSbomExportRequest body) throws ApiException, IOException {
        return prepareSupplyChainServiceCreateSbomExportRequest(deploymentId, body).execute();
    }

    /**
     * @param  deploymentId  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the CreateSbomExportResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<CreateSbomExportResponse>> supplyChainServiceCreateSbomExportAsync(
            final String deploymentId,
            final CreateSbomExportRequest body) {
        try {
            return prepareSupplyChainServiceCreateSbomExportRequest(deploymentId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for supplyChainServiceCreateSbomExport.
     */
    private ApiCall<ApiResponse<CreateSbomExportResponse>, ApiException> prepareSupplyChainServiceCreateSbomExportRequest(
            final String deploymentId,
            final CreateSbomExportRequest body) {
        return new ApiCall.Builder<ApiResponse<CreateSbomExportResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentId}/sbom/export")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("deploymentId").value(deploymentId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, CreateSbomExportResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * @param  deploymentId  Required parameter:
     * @param  taskToken  Required parameter:
     * @return    Returns the GetSbomExportResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<GetSbomExportResponse> supplyChainServiceGetSbomExport(
            final String deploymentId,
            final String taskToken) throws ApiException, IOException {
        return prepareSupplyChainServiceGetSbomExportRequest(deploymentId, taskToken).execute();
    }

    /**
     * @param  deploymentId  Required parameter:
     * @param  taskToken  Required parameter:
     * @return    Returns the GetSbomExportResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<GetSbomExportResponse>> supplyChainServiceGetSbomExportAsync(
            final String deploymentId,
            final String taskToken) {
        try {
            return prepareSupplyChainServiceGetSbomExportRequest(deploymentId, taskToken).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for supplyChainServiceGetSbomExport.
     */
    private ApiCall<ApiResponse<GetSbomExportResponse>, ApiException> prepareSupplyChainServiceGetSbomExportRequest(
            final String deploymentId,
            final String taskToken) {
        return new ApiCall.Builder<ApiResponse<GetSbomExportResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentId}/sbom/export/{taskToken}")
                        .templateParam(param -> param.key("deploymentId").value(deploymentId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("taskToken").value(taskToken)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, GetSbomExportResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}