/*
 * SemgrepWebAppLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package dev.semgrep.apis;

import dev.semgrep.ApiHelper;
import dev.semgrep.Server;
import dev.semgrep.exceptions.ApiException;
import dev.semgrep.http.request.HttpMethod;
import dev.semgrep.http.response.ApiResponse;
import dev.semgrep.models.CreateTicketRequest;
import dev.semgrep.models.LinkTicketRequest;
import dev.semgrep.models.ProtosOpenapiV1CreateTicketResponse;
import dev.semgrep.models.ProtosOpenapiV1DeleteTicketResponse;
import dev.semgrep.models.ProtosOpenapiV1LinkTicketResponse;
import dev.semgrep.models.ProtosOpenapiV1UnlinkTicketResponse;
import dev.semgrep.models.UnlinkTicketRequest;
import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class TicketingServiceApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public TicketingServiceApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Unlink a Jira ticket by its ID.
     * @param  deploymentId  Required parameter:
     * @param  externalTicketId  Required parameter:
     * @return    Returns the ProtosOpenapiV1DeleteTicketResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ProtosOpenapiV1DeleteTicketResponse> deleteTicket(
            final String deploymentId,
            final long externalTicketId) throws ApiException, IOException {
        return prepareDeleteTicketRequest(deploymentId, externalTicketId).execute();
    }

    /**
     * Unlink a Jira ticket by its ID.
     * @param  deploymentId  Required parameter:
     * @param  externalTicketId  Required parameter:
     * @return    Returns the ProtosOpenapiV1DeleteTicketResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ProtosOpenapiV1DeleteTicketResponse>> deleteTicketAsync(
            final String deploymentId,
            final long externalTicketId) {
        try {
            return prepareDeleteTicketRequest(deploymentId, externalTicketId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for deleteTicket.
     */
    private ApiCall<ApiResponse<ProtosOpenapiV1DeleteTicketResponse>, ApiException> prepareDeleteTicketRequest(
            final String deploymentId,
            final long externalTicketId) {
        return new ApiCall.Builder<ApiResponse<ProtosOpenapiV1DeleteTicketResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentId}/ticketing/v2/tickets/{externalTicketId}")
                        .templateParam(param -> param.key("deploymentId").value(deploymentId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("externalTicketId").value(externalTicketId).isRequired(false)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ProtosOpenapiV1DeleteTicketResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Link an existing external ticket (e.g. Jira) to one or more Semgrep findings by providing the
     * ticket URL and a list of finding IDs. This does not create a ticket in your issue tracker —
     * it only records the association in Semgrep. If a finding is already linked to a different
     * ticket, the existing link is replaced. Requires a configured ticketing integration.
     * @param  deploymentId  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ProtosOpenapiV1LinkTicketResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ProtosOpenapiV1LinkTicketResponse> linkTicket(
            final String deploymentId,
            final LinkTicketRequest body) throws ApiException, IOException {
        return prepareLinkTicketRequest(deploymentId, body).execute();
    }

    /**
     * Link an existing external ticket (e.g. Jira) to one or more Semgrep findings by providing the
     * ticket URL and a list of finding IDs. This does not create a ticket in your issue tracker —
     * it only records the association in Semgrep. If a finding is already linked to a different
     * ticket, the existing link is replaced. Requires a configured ticketing integration.
     * @param  deploymentId  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ProtosOpenapiV1LinkTicketResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ProtosOpenapiV1LinkTicketResponse>> linkTicketAsync(
            final String deploymentId,
            final LinkTicketRequest body) {
        try {
            return prepareLinkTicketRequest(deploymentId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for linkTicket.
     */
    private ApiCall<ApiResponse<ProtosOpenapiV1LinkTicketResponse>, ApiException> prepareLinkTicketRequest(
            final String deploymentId,
            final LinkTicketRequest body) {
        return new ApiCall.Builder<ApiResponse<ProtosOpenapiV1LinkTicketResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentId}/tickets/link")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("deploymentId").value(deploymentId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ProtosOpenapiV1LinkTicketResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Remove the ticket association from one or more Semgrep findings by providing a list of
     * finding IDs. This does not delete the ticket in your issue tracker — it only removes the
     * association in Semgrep.
     * @param  deploymentId  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ProtosOpenapiV1UnlinkTicketResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ProtosOpenapiV1UnlinkTicketResponse> unlinkTicket(
            final String deploymentId,
            final UnlinkTicketRequest body) throws ApiException, IOException {
        return prepareUnlinkTicketRequest(deploymentId, body).execute();
    }

    /**
     * Remove the ticket association from one or more Semgrep findings by providing a list of
     * finding IDs. This does not delete the ticket in your issue tracker — it only removes the
     * association in Semgrep.
     * @param  deploymentId  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ProtosOpenapiV1UnlinkTicketResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ProtosOpenapiV1UnlinkTicketResponse>> unlinkTicketAsync(
            final String deploymentId,
            final UnlinkTicketRequest body) {
        try {
            return prepareUnlinkTicketRequest(deploymentId, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for unlinkTicket.
     */
    private ApiCall<ApiResponse<ProtosOpenapiV1UnlinkTicketResponse>, ApiException> prepareUnlinkTicketRequest(
            final String deploymentId,
            final UnlinkTicketRequest body) {
        return new ApiCall.Builder<ApiResponse<ProtosOpenapiV1UnlinkTicketResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentId}/tickets/unlink")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("deploymentId").value(deploymentId)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ProtosOpenapiV1UnlinkTicketResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Create Jira tickets for your findings. You can create tickets by passing in a list of
     * issue_ids or by passing in filter query parameters to dynamically select findings. If passing
     * in filters, Semgrep will skip already ticketed findings. This endpoint is synchronous, so it
     * may take some time for your request to resolve. Unlike creating tickets in-app, if ticket
     * creation fails we won't automatically retry. This endpoint accepts a limit parameter
     * (defaulting to 20) to limit the number of tickets created per request. If you specify a list
     * of issue_ids greater than this limit, or your selected filters match on a number of issues
     * greater than this limit, issues that were not ticketed are included in the Failed part of the
     * response object. You can send another request to create tickets for these skipped issues. By
     * default, findings belonging to the same repository and the same rule will be grouped together
     * into a single Jira ticket. You can override this using the group_issues query parameter. Up
     * to 50 issues can be grouped into a single ticket. You can optionally override the Jira
     * project you create tickets in by passing in a Jira project ID as jira_project_id (the numeric
     * ID rather than the project key). You can fetch this ID using the Jira API.
     * @param  deploymentSlug  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ProtosOpenapiV1CreateTicketResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ProtosOpenapiV1CreateTicketResponse> createTicket(
            final String deploymentSlug,
            final CreateTicketRequest body) throws ApiException, IOException {
        return prepareCreateTicketRequest(deploymentSlug, body).execute();
    }

    /**
     * Create Jira tickets for your findings. You can create tickets by passing in a list of
     * issue_ids or by passing in filter query parameters to dynamically select findings. If passing
     * in filters, Semgrep will skip already ticketed findings. This endpoint is synchronous, so it
     * may take some time for your request to resolve. Unlike creating tickets in-app, if ticket
     * creation fails we won't automatically retry. This endpoint accepts a limit parameter
     * (defaulting to 20) to limit the number of tickets created per request. If you specify a list
     * of issue_ids greater than this limit, or your selected filters match on a number of issues
     * greater than this limit, issues that were not ticketed are included in the Failed part of the
     * response object. You can send another request to create tickets for these skipped issues. By
     * default, findings belonging to the same repository and the same rule will be grouped together
     * into a single Jira ticket. You can override this using the group_issues query parameter. Up
     * to 50 issues can be grouped into a single ticket. You can optionally override the Jira
     * project you create tickets in by passing in a Jira project ID as jira_project_id (the numeric
     * ID rather than the project key). You can fetch this ID using the Jira API.
     * @param  deploymentSlug  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the ProtosOpenapiV1CreateTicketResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ProtosOpenapiV1CreateTicketResponse>> createTicketAsync(
            final String deploymentSlug,
            final CreateTicketRequest body) {
        try {
            return prepareCreateTicketRequest(deploymentSlug, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for createTicket.
     */
    private ApiCall<ApiResponse<ProtosOpenapiV1CreateTicketResponse>, ApiException> prepareCreateTicketRequest(
            final String deploymentSlug,
            final CreateTicketRequest body) {
        return new ApiCall.Builder<ApiResponse<ProtosOpenapiV1CreateTicketResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentSlug}/tickets")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("deploymentSlug").value(deploymentSlug)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ProtosOpenapiV1CreateTicketResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}