/*
 * SemgrepWebAppLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package dev.semgrep.apis;

import dev.semgrep.ApiHelper;
import dev.semgrep.Server;
import dev.semgrep.exceptions.ApiException;
import dev.semgrep.http.request.HttpMethod;
import dev.semgrep.http.response.ApiResponse;
import dev.semgrep.models.BulkTriageRequest;
import dev.semgrep.models.BulkTriageResponse;
import io.apimatic.core.ApiCall;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class TriageServiceApi extends BaseApi {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public TriageServiceApi(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * Bulk triage your findings. You can select the findings to triage by passing in a list of
     * finding IDs as issue_ids, or by passing in filter query parameters. You must specify the
     * issue_type of the findings you want to bulk triage. One of new_triage_state or new_note is
     * required. If specifying a new_triage_reason, you must also use new_triage_state=ignored. Some
     * filters only apply for findings associated with a given product.
     * @param  deploymentSlug  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the BulkTriageResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<BulkTriageResponse> triageServiceBulkTriage(
            final String deploymentSlug,
            final BulkTriageRequest body) throws ApiException, IOException {
        return prepareTriageServiceBulkTriageRequest(deploymentSlug, body).execute();
    }

    /**
     * Bulk triage your findings. You can select the findings to triage by passing in a list of
     * finding IDs as issue_ids, or by passing in filter query parameters. You must specify the
     * issue_type of the findings you want to bulk triage. One of new_triage_state or new_note is
     * required. If specifying a new_triage_reason, you must also use new_triage_state=ignored. Some
     * filters only apply for findings associated with a given product.
     * @param  deploymentSlug  Required parameter:
     * @param  body  Required parameter:
     * @return    Returns the BulkTriageResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<BulkTriageResponse>> triageServiceBulkTriageAsync(
            final String deploymentSlug,
            final BulkTriageRequest body) {
        try {
            return prepareTriageServiceBulkTriageRequest(deploymentSlug, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for triageServiceBulkTriage.
     */
    private ApiCall<ApiResponse<BulkTriageResponse>, ApiException> prepareTriageServiceBulkTriageRequest(
            final String deploymentSlug,
            final BulkTriageRequest body) {
        return new ApiCall.Builder<ApiResponse<BulkTriageResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.SEMGREP.value())
                        .path("/api/v1/deployments/{deploymentSlug}/triage")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .templateParam(param -> param.key("deploymentSlug").value(deploymentSlug)
                                .shouldEncode(true))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .add("SemgrepWebToken"))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, BulkTriageResponse.class))
                        .nullify404(false)
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}